In [ ]:
import sklearn
import pandas as pd
import numpy as np
from itertools import groupby
from operator import itemgetter

In [ ]:
#Get longest sequence in a string for every number

string = "653992335" 

list_of_tuple = sorted([(int(k), sum(1 for i in g)) for k,g in groupby(string)],key=itemgetter(0))
print(list_of_tuple)

res = {int(k): max(i[1] for i in g) for k,g in groupby(list_of_tuple,itemgetter(0))}
print(res)

[(2, 1), (3, 1), (3, 2), (5, 1), (5, 1), (6, 1), (9, 2)]
{2: 1, 3: 2, 5: 1, 6: 1, 9: 2}

In [ ]:
# Inplace sorting with a function

sample = list(np.random.randint(100,size=(10)))
print(sample)
sample.sort(key = lambda x:x%2==0,reverse=True)
print(sample)

[20, 36, 18, 95, 53, 81, 58, 38, 49, 13]
[20, 36, 18, 58, 38, 95, 53, 81, 49, 13]

In [ ]:
#Search sequences

numbers = [3, 7, 1, 4, 2, 8, 5, 6,3,2,15,4,2]

# Search for number = 2, starting from position 3 till 7
numbers.index(2,0,1)

ValueError: 2 is not in list

In [ ]:
# Number of occurrences of an item

nums = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

print(nums.count(5))

2

In [ ]:
# Inserting an Element at a Specific index

sample = list(range(10))
print(sample)

# Insert 10 at 0
sample.insert(0,10)
print(sample)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Remove an item at an index

sample = list(range(10))

#Reverse a list
sample = sample[::-1]
print(sample)

# Remove element at index 0 i.e. 9
sample.pop(0)
print(sample)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[8, 7, 6, 5, 4, 3, 2, 1, 0]